<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>
<body>
<h1>Clients</h1>
<a th:href="@{/admin/clients/add}">Add Client</a>
<a th:href="@{/admin}">Back to index</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Patronymic</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.patronymic}"></td>
        <td th:text="${client.phone}"></td>
        <td>
            <a th:href="@{/admin/clients/edit/{id}(id=${client.id})}">Edit</a>
            <a th:href="@{/admin/clients/delete/{id}(id=${client.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>