<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>
<body>
<h1>Orders</h1>

<button onclick="window.location.href='/admin/orders/add'">Add New Item</button>
<button onclick="window.location.href='/admin'">Back to index</button>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Item Q</th>
        <th>Client Last Name</th>
        <th>Date of Transaction</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${orders}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getItem().getItemName()}"></td>
        <td th:text="${item.getqItem()}"></td>
        <td th:text="${item.getClient().getLastName()}"></td>
        <td th:text="${item.getDateOfTransaction()}"></td>
        <td>
            <a th:href="@{'/admin/orders/edit/' + ${item.id}}" class="btn">Edit</a>
            <a th:href="@{'/admin/orders/delete/' + ${item.id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>