<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Storage</title>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>
<body>
<h1>Storage</h1>

<button class="btn-deactivated">Add New Item</button>
<button onclick="window.location.href='/admin'">Back to index</button>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Item ID</th>
        <th>Item Q</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${storage}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getItem().getId()}"></td>
        <td th:text="${item.getQuantity()}"></td>
        <td>
            <a th:href="@{'/admin/storage/edit/' + ${item.id}}" class="btn">Edit</a>
            <a class="btn btn-deactivated">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h1 class="danger-text">ATTENTION! Deletion and addition of rows is disabled.</h1>
</body>
</html>