<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register user</title>
    <link rel="stylesheet" href="/css/catalogue/add.css">
</head>
<body>
<h1>Register user</h1>
<form th:action="@{/admin/users/add}" th:object="${reg_req}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required><br>

    <label>Password:</label>
    <input type="text" th:field="*{password}" required><br>

    <label>Role:</label>
    <select id="role" name="role" th:field="*{role}">
        <option value="ADMINISTRATOR">ADMINISTRATOR</option>
        <option value="CONSULTANT">CONSULTANT</option>
        <option value="STORAGE">STORAGE</option>
    </select><br>

    <button type="submit">Save</button>
</form>
</body>
</html>