body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
}

/* Специальный класс для роли */
.role {
    color: #555;
    font-weight: 600;
}

.admin-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.logout{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ba0606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.logout:hover{
    background-color: #e84d4d;
}

.admin-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 15px 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .admin-button {
        font-size: 14px;
        padding: 8px 16px;
    }
    .logout{
        font-size: 14px;
        padding: 8px 16px;
    }
}