<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client</title>
    <link rel="stylesheet" href="/css/catalogue/edit.css">
</head>
<body>
<h1>Edit Client</h1>
<form th:action="@{/clients/edit/{id}(id=${client.id})}" th:object="${client}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" required><br>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required><br>

    <label>Patronymic:</label>
    <input type="text" th:field="*{patronymic}" required><br>

    <label>Phone:</label>
    <input type="text" th:field="*{phone}" required><br>

    <button type="submit">Save</button>
</form>
</body>
</html>