<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="container">
    <h1>Admin Panel</h1>
    <ul>
        <li><a th:href="@{/admin/orders}">Orders</a></li>
        <li><a th:href="@{/admin/clients}">Clients</a></li>
        <li><a th:href="@{/admin/catalogue}">Catalogue</a></li>
        <li><a th:href="@{/admin/storage}">Storage</a></li>
        <li><a th:href="@{/admin/supply}">Supply</a></li>
        <li><a th:href="@{/admin/users}">Users</a></li>
    </ul>
    <button onclick="window.location.href='/'">Back to index</button>
</div>
</body>
</html>