<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Order</title>
    <link rel="stylesheet" href="/css/catalogue/add.css">
</head>
<body>
<h1>Add Order</h1>
<form th:action="@{/admin/orders/add}" th:object="${order}" method="post">

    <label>Item:</label>
    <select id="item" name="itemId">
        <option th:each="item_obj : ${items}"
                th:value="${item_obj.id}"
                th:text="${item_obj.itemName}">
        </option>
    </select><br>

    <label>Quantity:</label>
    <input type="number" th:field="*{qItem}" required><br>

    <label>Date of transaction: </label>
    <input type="date" th:field="*{dateOfTransaction}" required><br>

    <label>Client: </label>
    <select id="client" name="clientId">
        <option th:each="client_obj : ${clients}"
                th:value="${client_obj.id}"
                th:text="${client_obj.lastName}">
        </option>
    </select><br>
    <button type="submit">Save</button>
</form>
</body>
</html>